/app/etc/local.xml
/media/catalog
/media/captcha
/media/css
/media/css_secure
/media/email/logo
/media/favicon
/media/js
/media/sales/store/logo
/media/sales/store/logo_html
/media/wysiwyg
/dev/tests/functional/generated
/dev/tests/functional/vendor
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
